 <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="handleBack()">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{movieDetail.Title}}</ion-title>
  </ion-toolbar>
</ion-header>
<!--
<ion-content>
  <ion-card>
    <ion-img [src]="movieDetail.Poster"></ion-img>
  <ion-card-content>
    <p><span >Description:</span> {{movieDetail.Plot}}</p>
    <p><span>Actors:</span> {{movieDetail.Actors}}</p>
    <p><span>Country:</span> {{movieDetail.Country}}</p>
    <p><span>Year:</span> {{movieDetail.Year}}</p>
    <label>Leave your comment: </label>
    <textarea></textarea>
  </ion-card-content>
  </ion-card>

</ion-content> -->
