.google{
  color:#db4a39;
}

span{
  display: flex;
justify-content: center;
}

.createAcount{
  text-align: end;
  padding-right: 8%;

}

.btns_google{
  display: flex;
justify-content: center;
}

.forgot{
  text-align: end;
  padding-right: 8%;
}

a{
  font-size: 1.1em;
}
